{%  extends '::loggedin.html.twig' %}

{% trans_default_domain 'InfostanderAdminBundle' %}

{% block stylesheets %}
    <link href="/css/user.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="screen-div-top">
            <h2>{{ 'user.index.title'|trans }}</h2>
            <p>{{ 'user.index.information'|trans }}.</p>
            <form class="user-form-button-nofloat" action="{{ path('fos_user_registration_register') }}" method="get">
                <span class="btn-group btn-group-xs">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">{{ 'user.index.add'|trans }}</button>
                </span>
            </form>
        </div>
        {% for user in users %}
        <div class="users-user {{ cycle(['users-user-odd', 'users-user-even'], loop.index) }}">
          <span class="users-username">{{ user.username }}</span>
        </div>
        {% endfor %}
    </div>
{% endblock %}