{% extends '::base.html.twig' %}

{% block navbar %}
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('infostander_admin_homepage') }}">Infostander</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('infostander_admin_homepage') }}">Forside</a></li>
                <li><a href="{{ path('infostander_admin_screen') }}">Skærmadministration</a></li>
                {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <li><a href="{{ path('fos_user_registration_register') }}">Opret bruger</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('fos_user_security_logout') }}">Log ud</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}