{%  extends '::loggedin.html.twig' %}

{% trans_default_domain 'InfostanderAdminBundle' %}

{% block stylesheets %}
    <link href="/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="/css/forms.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <p>{{ 'slide.add.information'|trans }}.</p>
        <form action="{{ path('infostander_admin_slide_add') }}" {{ form_enctype(form) }} method="POST" class="form-signin fos_user_registration_register">
            <h2 class="form-signin-heading">{{ 'slide.add.save'|trans }}</h2>

            {{ form_errors(form) }}
            {{ form_errors(form.title) }}
            {{ form_errors(form.description) }}

            {{ form_widget(form.title) }}
            {{ form_widget(form.description) }}

            <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 300px; height: 150px;"></div>
                <div>
                    <span class="btn btn-default btn-file"><span class="fileinput-new">{{ 'slide.add.select'|trans }}</span><span class="fileinput-exists">{{ 'slide.add.change'|trans }}</span>{{ form_widget(form.image) }}</span>
                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">{{ 'slide.add.delete'|trans }}</a>
                </div>
            </div>

            {{ form_rest(form) }}

        </form>

    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/jasny-bootstrap.min.js"></script>
{% endblock %}