{%  extends '::loggedin.html.twig' %}

{% trans_default_domain 'InfostanderAdminBundle' %}

{% block stylesheets %}
    <link href="/css/forms.css" rel="stylesheet">
    <link href="/css/slide.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <p>{{ 'slide.add.information'|trans }}.</p>
        <form action="{{ path('infostander_admin_slide_add') }}" {{ form_enctype(form) }} method="POST" class="form-signin fos_user_registration_register">
            <h2 class="form-signin-heading">{{ 'slide.add.save'|trans }}</h2>

            {{ form_errors(form) }}
            {{ form_errors(form.title) }}
            {{ form_errors(form.description) }}

            {{ form_widget(form.title) }}
            {{ form_widget(form.description) }}

            {{ form_rest(form) }}
        </form>

    </div>
{% endblock %}