{%  extends '::loggedin.html.twig' %}

{% trans_default_domain 'InfostanderAdminBundle' %}

{% block stylesheets %}
    <link href="/css/slides.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ 'slide.index.title'|trans }}</h2>
        <p>{{ 'slide.index.information'|trans }}.</p>
        <form class="slide-form-button-nofloat" action="{{ path('infostander_admin_slide_add') }}" method="get">
            <span class="btn-group btn-group-xs">
                <button type="submit" class="btn btn-lg btn-primary btn-block">{{ 'slide.index.add'|trans }}</button>
            </span>
        </form>

{% for slide in slides %}
    <div class="slide-container">
        <img class="slide-thumb img-thumbnail" src="{{ vich_uploader_asset(slide, 'image') }}" alt="{{ slide.title }}"  />
        <div class="slide-title">{{ slide.title }}</div>
        <div class="slide-description">{{ slide.description }}</div>
    </div>
{% endfor %}

    </div>
{% endblock %}