{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-signin fos_user_change_password">

        {{ form_errors(form) }}
        {{ form_errors(form.current_password) }}
        {{ form_errors(form.plainPassword.first) }}

        {{ form_widget(form.current_password) }}
        {{ form_widget(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.second) }}

        {{ form_rest(form) }}

        <div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </form>
</div>
