{%  extends '::loggedin.html.twig' %}

{% trans_default_domain 'InfostanderAdminBundle' %}

{% block stylesheets %}
    <link href="/css/forms.css" rel="stylesheet">
    <link href="/css/screens.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <p>{{ 'screen.add.information'|trans }}.</p>
        {#
            {{ form(form) }}
        #}
        <form action="{{ path('infostander_admin_screen_add') }}" {{ form_enctype(form) }} method="POST" class="form-signin fos_user_registration_register">
            <h2 class="form-signin-heading">{{ 'screen.add.save'|trans }}</h2>

            {{ form_errors(form) }}
            {{ form_errors(form.title) }}
            {{ form_errors(form.description) }}

            {{ form_widget(form.title) }}
            {{ form_widget(form.description) }}

            {{ form_rest(form) }}
        </form>

    </div>
{% endblock %}


{#
<div class="container">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-signin fos_user_registration_register">
        <h2 class="form-signin-heading">{{ 'registration.submit'|trans }}</h2>

        {{ form_errors(form) }}
        {{ form_errors(form.username) }}
        {{ form_errors(form.email) }}
        {{ form_errors(form.plainPassword.first) }}

        {{ form_widget(form.username) }}
        {{ form_widget(form.email) }}
        {{ form_widget(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.second) }}

        {{ form_rest(form) }}

        <div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    </form>
</div>
#}