{%  extends '::loggedin.html.twig' %}

{% trans_default_domain 'InfostanderAdminBundle' %}

{% block stylesheets %}
    <link href="/css/screens.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="screen-div-top">
            <h2>{{ 'screen.index.title'|trans }}</h2>
            <p>{{ 'screen.index.information'|trans }}.</p>
            <form class="screen-form-button-nofloat" action="{{ path('infostander_admin_screen_add') }}" method="get">
                <span class="btn-group btn-group-xs">
                    <button type="submit" class="btn btn-lg btn-primary btn-block">{{ 'screen.index.add'|trans }}</button>
                </span>
            </form>
        </div>
        {% for screen in screens %}
        <div class="screen-div {{ cycle(['screen-div-odd', 'screen-div-even'], loop.index) }}">
            <div class="screen-header">
                <form class="screen-form-button" action="{{ path('infostander_admin_screen_delete', { 'id': screen.id }) }}" method="post">
                    <span class="btn-group btn-group-xs">
                        <button type="submit" class="btn btn-lg btn-primary btn-block" onclick="return confirm('{{ 'screen.index.confirm_delete'|trans }}?')">{{ 'screen.index.delete'|trans }}</button>
                    </span>
                </form>
                <form class="screen-form-button" action="{{ path('infostander_admin_screen_new_activation_code', { 'id': screen.id }) }}" method="post">
                    <span class="btn-group btn-group-xs">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">{{ 'screen.index.new_activation_code'|trans }}</button>
                    </span>
                </form>
                <div class="screen-title">{{ screen.title }}</div>
                <div class="screen-token">({{ 'screen.index.activation_code'|trans }}: {{ screen.activationCode }})</div>
            </div>
            <div class="screen-description">{{ screen.description }}</div>
        </div>
        {% endfor %}
    </div>
{% endblock %}